<!Doctype>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
</head>
<body>
	<img url(meet.jpeg)>
<h1>WELCOME OUR BEAUTIFUL STUDENTS</h1>
	<form method="POST" action="/questions">
		<h2>WHAT IS YOUR FAVOURITE SUBJECT ?!!</h2>
		<input type="radio" name="subject"value="cs">cs
		<input type="radio" name="subject"value="du">du
		<input type="radio" name="subject"value="entrep">entrep
		<input type="radio" name="subject"value="all">all
		


		<h2>WHAT IS YOUR FAV SNACK ?!!</h2>
		<input type="radio" name="food" value="meet tuna sandwitches">meet tuna sandwitches
		<input type="radio" name="food"value="iasa kitchen cuisine">iasa kitchen cuisine
		<input type="radio" name="food"value="meet omlete sandwitches">meet omlete sandwitches
		<input type="radio" name="food"value="watermelon">watermelon

		<h2>WHAT DO YOU DO IN YOUR FREE TIME ?!!</h2>
		<input type="radio" name="time"value=" go to the basketball court"> go to basketball court
		<input type="radio" name="time"value="finish your cs labs">finish your cs labs 
		<input type="radio" name="time"value="go to the grass">go to the grass 
		<input type="radio" name="time"value="sleep">sleep 
		<br>
		<h1>any comments</h1>

		<input type="text" name="comment" placeholder="enter here">





		<br>

		<h1></h1>


		<button type="submit" value="submit" class="btn">SUBMIT</button>

	</form>
</body>
</html>